body, html {
    min-height: 100%;
}

body {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 75vh auto;
    margin: 0;
}

#bola {
    height: 220px;
    display: block;
    margin: auto; 
    box-shadow: 0 0 25px 5px rgba(255, 246, 236, 0.7);  
    border-radius: 50%;
}

#bola:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}

#bola:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

#click-area {
    background-image: url(imgs/grama.jpg);
    background-size: contain;
    background-repeat: repeat;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100vh;
    border-right: 5px solid rgb(130, 30, 30);
}

#click-area h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#nome {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background: none;
    border: none;
    color: white;
}

#nome::placeholder {
    color: rgba(228, 249, 255, 0.7);
}

#nome:focus {
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

#nome:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#centro {
    background-image: url(imgs/campos/campo7.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 80vh;
    border-right: 5px solid rgb(130, 30, 30);
}

#centro h1 {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 1);
    padding: 3px;
}

#equipamentos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

#equipamentos img {
    display: block;
    margin: auto;
}

#equipamentos article {
    background-color: rgba(27, 28, 29, 0.7);
    border-radius: 200%;
    padding: 10px;
    width: 240px;
    height: 240px;
}

#time {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#chuteira {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#chuteira img {
    height: 100px;
}

#time img {
    height: 130px;
}

#stats {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: 'Courier New', Courier, monospace;
    grid-column-start: 2;
    grid-row-start: 2;
    height: 25vh;
    background-color: rgb(9, 15, 17);
    border-top: 5px solid rgb(130, 30, 30);
    overflow-y: scroll;
    box-sizing: border-box;
}

#stats::-webkit-scrollbar {
    width: 12px;
}

#stats::-webkit-scrollbar-track {
    background-color: rgba(130, 30, 30, 1);
}

#stats::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 4px solid rgba(130, 30, 30, 1);
}

#upgrade-area {
    background-color: rgb(9, 15, 17);
    grid-row-start: 1;
    grid-column-start: 3;
    height: 100vh;
    overflow-y: scroll;
}

#upgrade-area::-webkit-scrollbar {
    width: 12px;
}

#upgrade-area::-webkit-scrollbar-track {
    background-color: rgba(130, 30, 30, 1);
}

#upgrade-area::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 4px solid rgba(130, 30, 30, 1);
}

#upgrade-area h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#upgrade-area article {
    background-color: rgba(83, 90, 93, 0.7);
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
}

#upgrade-area button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    padding: 5px 5px;
    cursor: pointer;
    width: 120px;
}

#upgrade-area img {
    display: block;
    float: left;
    height: 75px;
    margin-top: 50px;
}

#upgrade-area .info {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 120px;
}